openapi: 3.0.1
info:
  title: core-lending-loan-servicing
  description: Loan Servicing Core Application
  contact:
    name: Firefly Software Solutions Inc
    email: dev@getfirefly.io
  version: 1.0.0
servers:
  - url: http://core.getfirefly.io/loan-servicing
    description: Development Environment
  - url: /
    description: Local Development Environment
tags:
  - name: LoanAccrual
    description: Operations for Loan Accruals (interest, fees, etc.)
  - name: LoanRepaymentRecord
    description: Operations for Loan Repayment Records
  - name: LoanRepaymentSchedule
    description: Operations for Loan Repayment Schedules
  - name: LoanServicingEvent
    description: Operations for Loan Servicing Events
  - name: LoanInstallmentRecord
    description: Operations for Loan Installment Records
  - name: LoanRateChange
    description: Operations for Loan Rate Changes
  - name: LoanServicingCase
    description: Operations for Loan Servicing Cases
  - name: LoanDisbursement
    description: Operations for Loan Disbursements
  - name: LoanDisbursementExternalTransaction
    description: Operations for external PSP disbursement transactions
  - name: LoanInstallmentPlan
    description: Operations for Loan Installment Plans
  - name: LoanDisbursementInternalTransaction
    description: Operations for internal disbursement transactions
paths:
  /api/v1/loan-servicing-cases/{caseId}:
    get:
      tags:
        - LoanServicingCase
      summary: Get a loan servicing case by ID
      operationId: getServicingCaseById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanServicingCaseDTO'
    put:
      tags:
        - LoanServicingCase
      summary: Update a loan servicing case
      operationId: updateServicingCase
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanServicingCaseDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanServicingCaseDTO'
    delete:
      tags:
        - LoanServicingCase
      summary: Delete a loan servicing case
      operationId: deleteServicingCase
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases/{caseId}/repayment-schedules/{scheduleId}:
    get:
      tags:
        - LoanRepaymentSchedule
      summary: Get a repayment schedule entry by ID
      operationId: getRepaymentScheduleById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: scheduleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRepaymentScheduleDTO'
    put:
      tags:
        - LoanRepaymentSchedule
      summary: Update a repayment schedule entry
      operationId: updateRepaymentSchedule
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: scheduleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanRepaymentScheduleDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRepaymentScheduleDTO'
    delete:
      tags:
        - LoanRepaymentSchedule
      summary: Delete a repayment schedule entry
      operationId: deleteRepaymentSchedule
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: scheduleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases/{caseId}/repayment-records/{recordId}:
    get:
      tags:
        - LoanRepaymentRecord
      summary: Get a repayment record by ID
      operationId: getRepaymentRecordById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRepaymentRecordDTO'
    put:
      tags:
        - LoanRepaymentRecord
      summary: Update a repayment record
      operationId: updateRepaymentRecord
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanRepaymentRecordDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRepaymentRecordDTO'
    delete:
      tags:
        - LoanRepaymentRecord
      summary: Delete a repayment record
      operationId: deleteRepaymentRecord
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases/{caseId}/rate-changes/{rateChangeId}:
    get:
      tags:
        - LoanRateChange
      summary: Get a loan rate change by ID
      operationId: getRateChangeById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: rateChangeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRateChangeDTO'
    put:
      tags:
        - LoanRateChange
      summary: Update a loan rate change
      operationId: updateRateChange
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: rateChangeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanRateChangeDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRateChangeDTO'
    delete:
      tags:
        - LoanRateChange
      summary: Delete a loan rate change record
      operationId: deleteRateChange
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: rateChangeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases/{caseId}/installment-records/{recordId}:
    get:
      tags:
        - LoanInstallmentRecord
      summary: Get an installment record by ID
      operationId: getInstallmentRecordById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanInstallmentRecordDTO'
    put:
      tags:
        - LoanInstallmentRecord
      summary: Update an installment record
      operationId: updateInstallmentRecord
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanInstallmentRecordDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanInstallmentRecordDTO'
    delete:
      tags:
        - LoanInstallmentRecord
      summary: Delete an installment record
      operationId: deleteInstallmentRecord
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases/{caseId}/installment-plans/{planId}:
    get:
      tags:
        - LoanInstallmentPlan
      summary: Get an installment plan entry by ID
      operationId: getInstallmentPlanById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: planId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanInstallmentPlanDTO'
    put:
      tags:
        - LoanInstallmentPlan
      summary: Update an installment plan entry
      operationId: updateInstallmentPlan
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: planId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanInstallmentPlanDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanInstallmentPlanDTO'
    delete:
      tags:
        - LoanInstallmentPlan
      summary: Delete an installment plan entry
      operationId: deleteInstallmentPlan
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: planId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases/{caseId}/events/{eventId}:
    get:
      tags:
        - LoanServicingEvent
      summary: Get a loan servicing event by ID
      operationId: getServicingEventById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanServicingEventDTO'
    put:
      tags:
        - LoanServicingEvent
      summary: Update a loan servicing event
      operationId: updateServicingEvent
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanServicingEventDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanServicingEventDTO'
    delete:
      tags:
        - LoanServicingEvent
      summary: Delete a loan servicing event
      operationId: deleteServicingEvent
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases/{caseId}/disbursements/{disbursementId}:
    get:
      tags:
        - LoanDisbursement
      summary: Get a disbursement by ID
      operationId: getDisbursementById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: disbursementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanDisbursementDTO'
    put:
      tags:
        - LoanDisbursement
      summary: Update a disbursement record
      operationId: updateDisbursement
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: disbursementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanDisbursementDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanDisbursementDTO'
    delete:
      tags:
        - LoanDisbursement
      summary: Delete a disbursement record
      operationId: deleteDisbursement
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: disbursementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases/{caseId}/accruals/{accrualId}:
    get:
      tags:
        - LoanAccrual
      summary: Get a loan accrual by ID
      operationId: getAccrualById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: accrualId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanAccrualDTO'
    put:
      tags:
        - LoanAccrual
      summary: Update a loan accrual record
      operationId: updateAccrual
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: accrualId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanAccrualDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanAccrualDTO'
    delete:
      tags:
        - LoanAccrual
      summary: Delete a loan accrual record
      operationId: deleteAccrual
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: accrualId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases:
    get:
      tags:
        - LoanServicingCase
      summary: List/Search loan servicing cases
      operationId: findAllServicingCases
      parameters:
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.contractId
          in: query
          description: Exact filter for contract id
          required: false
          schema:
            type: string
        - name: filters.productId
          in: query
          description: Exact filter for product id
          required: false
          schema:
            type: string
        - name: filters.applicationId
          in: query
          description: Exact filter for application id
          required: false
          schema:
            type: string
        - name: filters.proposedOfferId
          in: query
          description: Exact filter for proposed offer id
          required: false
          schema:
            type: string
        - name: filters.productCatalogId
          in: query
          description: Exact filter for product catalog id
          required: false
          schema:
            type: string
        - name: filters.servicingStatus
          in: query
          description: Exact filter for servicing status
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - PAID_OFF
              - CLOSED
              - DEFAULT
              - RESTRUCTURED
        - name: filters.principalOutstanding
          in: query
          description: Exact filter for principal outstanding
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[principalOutstanding].from
          in: query
          description: Filter principal outstanding from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[principalOutstanding].to
          in: query
          description: Filter principal outstanding to value
          required: false
          schema:
            type: string
        - name: filters.interestOutstanding
          in: query
          description: Exact filter for interest outstanding
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[interestOutstanding].from
          in: query
          description: Filter interest outstanding from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[interestOutstanding].to
          in: query
          description: Filter interest outstanding to value
          required: false
          schema:
            type: string
        - name: filters.feesOutstanding
          in: query
          description: Exact filter for fees outstanding
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[feesOutstanding].from
          in: query
          description: Filter fees outstanding from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[feesOutstanding].to
          in: query
          description: Filter fees outstanding to value
          required: false
          schema:
            type: string
        - name: filters.originationDate
          in: query
          description: Exact filter for origination date
          required: false
          schema:
            type: string
        - name: filters.maturityDate
          in: query
          description: Exact filter for maturity date
          required: false
          schema:
            type: string
        - name: filters.remarks
          in: query
          description: Exact filter for remarks
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseLoanServicingCaseDTO'
    post:
      tags:
        - LoanServicingCase
      summary: Create a loan servicing case
      operationId: createServicingCase
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanServicingCaseDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanServicingCaseDTO'
  /api/v1/loan-servicing-cases/{caseId}/repayment-schedules:
    get:
      tags:
        - LoanRepaymentSchedule
      summary: List/Search repayment schedules for a servicing case
      operationId: findAllRepaymentSchedules
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.loanServicingCaseId
          in: query
          description: Exact filter for loan servicing case id
          required: false
          schema:
            type: string
        - name: filters.installmentNumber
          in: query
          description: Exact filter for installment number
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[installmentNumber].from
          in: query
          description: Filter installment number from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[installmentNumber].to
          in: query
          description: Filter installment number to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.dueDate
          in: query
          description: Exact filter for due date
          required: false
          schema:
            type: string
        - name: filters.principalDue
          in: query
          description: Exact filter for principal due
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[principalDue].from
          in: query
          description: Filter principal due from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[principalDue].to
          in: query
          description: Filter principal due to value
          required: false
          schema:
            type: string
        - name: filters.interestDue
          in: query
          description: Exact filter for interest due
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[interestDue].from
          in: query
          description: Filter interest due from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[interestDue].to
          in: query
          description: Filter interest due to value
          required: false
          schema:
            type: string
        - name: filters.feeDue
          in: query
          description: Exact filter for fee due
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[feeDue].from
          in: query
          description: Filter fee due from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[feeDue].to
          in: query
          description: Filter fee due to value
          required: false
          schema:
            type: string
        - name: filters.totalDue
          in: query
          description: Exact filter for total due
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[totalDue].from
          in: query
          description: Filter total due from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[totalDue].to
          in: query
          description: Filter total due to value
          required: false
          schema:
            type: string
        - name: filters.isPaid
          in: query
          description: Exact filter for is paid
          required: false
          schema:
            type: boolean
        - name: filters.paidDate
          in: query
          description: Exact filter for paid date
          required: false
          schema:
            type: string
        - name: filters.paidAmount
          in: query
          description: Exact filter for paid amount
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[paidAmount].from
          in: query
          description: Filter paid amount from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[paidAmount].to
          in: query
          description: Filter paid amount to value
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseLoanRepaymentScheduleDTO'
    post:
      tags:
        - LoanRepaymentSchedule
      summary: Create a repayment schedule entry
      operationId: createRepaymentSchedule
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanRepaymentScheduleDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRepaymentScheduleDTO'
  /api/v1/loan-servicing-cases/{caseId}/repayment-records:
    get:
      tags:
        - LoanRepaymentRecord
      summary: List/Search repayment records for a servicing case
      operationId: findAllRepaymentRecords
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.loanServicingCaseId
          in: query
          description: Exact filter for loan servicing case id
          required: false
          schema:
            type: string
        - name: filters.loanRepaymentScheduleId
          in: query
          description: Exact filter for loan repayment schedule id
          required: false
          schema:
            type: string
        - name: filters.transactionId
          in: query
          description: Exact filter for transaction id
          required: false
          schema:
            type: string
        - name: filters.paymentAmount
          in: query
          description: Exact filter for payment amount
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[paymentAmount].from
          in: query
          description: Filter payment amount from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[paymentAmount].to
          in: query
          description: Filter payment amount to value
          required: false
          schema:
            type: string
        - name: filters.paymentDate
          in: query
          description: Exact filter for payment date
          required: false
          schema:
            type: string
        - name: filters.isPartialPayment
          in: query
          description: Exact filter for is partial payment
          required: false
          schema:
            type: boolean
        - name: filters.note
          in: query
          description: Exact filter for note
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseLoanRepaymentRecordDTO'
    post:
      tags:
        - LoanRepaymentRecord
      summary: Create a repayment record
      operationId: createRepaymentRecord
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanRepaymentRecordDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRepaymentRecordDTO'
  /api/v1/loan-servicing-cases/{caseId}/rate-changes:
    get:
      tags:
        - LoanRateChange
      summary: List/Search rate changes for a servicing case
      operationId: findAllRateChanges
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.loanServicingCaseId
          in: query
          description: Exact filter for loan servicing case id
          required: false
          schema:
            type: string
        - name: filters.oldInterestRate
          in: query
          description: Exact filter for old interest rate
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[oldInterestRate].from
          in: query
          description: Filter old interest rate from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[oldInterestRate].to
          in: query
          description: Filter old interest rate to value
          required: false
          schema:
            type: string
        - name: filters.newInterestRate
          in: query
          description: Exact filter for new interest rate
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[newInterestRate].from
          in: query
          description: Filter new interest rate from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[newInterestRate].to
          in: query
          description: Filter new interest rate to value
          required: false
          schema:
            type: string
        - name: filters.effectiveDate
          in: query
          description: Exact filter for effective date
          required: false
          schema:
            type: string
        - name: filters.reasonCode
          in: query
          description: Exact filter for reason code
          required: false
          schema:
            type: string
            enum:
              - INDEX_ADJUSTMENT
              - RENEGOTIATION
              - PENALTY
              - PROMOTION
        - name: filters.note
          in: query
          description: Exact filter for note
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseLoanRateChangeDTO'
    post:
      tags:
        - LoanRateChange
      summary: Create a new loan rate change
      operationId: createRateChange
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanRateChangeDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRateChangeDTO'
  /api/v1/loan-servicing-cases/{caseId}/installment-records:
    get:
      tags:
        - LoanInstallmentRecord
      summary: List/Search installment records for a servicing case
      operationId: findAllInstallmentRecords
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.loanServicingCaseId
          in: query
          description: Exact filter for loan servicing case id
          required: false
          schema:
            type: string
        - name: filters.loanInstallmentPlanId
          in: query
          description: Exact filter for loan installment plan id
          required: false
          schema:
            type: string
        - name: filters.transactionId
          in: query
          description: Exact filter for transaction id
          required: false
          schema:
            type: string
        - name: filters.paymentAmount
          in: query
          description: Exact filter for payment amount
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[paymentAmount].from
          in: query
          description: Filter payment amount from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[paymentAmount].to
          in: query
          description: Filter payment amount to value
          required: false
          schema:
            type: string
        - name: filters.paymentDate
          in: query
          description: Exact filter for payment date
          required: false
          schema:
            type: string
        - name: filters.isPartialPayment
          in: query
          description: Exact filter for is partial payment
          required: false
          schema:
            type: boolean
        - name: filters.paymentMethod
          in: query
          description: Exact filter for payment method
          required: false
          schema:
            type: string
            enum:
              - INTERNAL
              - EXTERNAL
        - name: filters.paymentStatus
          in: query
          description: Exact filter for payment status
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - PROCESSING
              - COMPLETED
              - FAILED
              - REVERSED
        - name: filters.paymentProviderId
          in: query
          description: Exact filter for payment provider id
          required: false
          schema:
            type: string
        - name: filters.externalTransactionReference
          in: query
          description: Exact filter for external transaction reference
          required: false
          schema:
            type: string
        - name: filters.note
          in: query
          description: Exact filter for note
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseLoanInstallmentRecordDTO'
    post:
      tags:
        - LoanInstallmentRecord
      summary: Create an installment record
      operationId: createInstallmentRecord
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanInstallmentRecordDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanInstallmentRecordDTO'
  /api/v1/loan-servicing-cases/{caseId}/installment-plans:
    get:
      tags:
        - LoanInstallmentPlan
      summary: List/Search installment plans for a servicing case
      operationId: findAllInstallmentPlans
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.loanServicingCaseId
          in: query
          description: Exact filter for loan servicing case id
          required: false
          schema:
            type: string
        - name: filters.installmentNumber
          in: query
          description: Exact filter for installment number
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[installmentNumber].from
          in: query
          description: Filter installment number from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[installmentNumber].to
          in: query
          description: Filter installment number to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.dueDate
          in: query
          description: Exact filter for due date
          required: false
          schema:
            type: string
        - name: filters.principalDue
          in: query
          description: Exact filter for principal due
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[principalDue].from
          in: query
          description: Filter principal due from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[principalDue].to
          in: query
          description: Filter principal due to value
          required: false
          schema:
            type: string
        - name: filters.interestDue
          in: query
          description: Exact filter for interest due
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[interestDue].from
          in: query
          description: Filter interest due from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[interestDue].to
          in: query
          description: Filter interest due to value
          required: false
          schema:
            type: string
        - name: filters.feeDue
          in: query
          description: Exact filter for fee due
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[feeDue].from
          in: query
          description: Filter fee due from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[feeDue].to
          in: query
          description: Filter fee due to value
          required: false
          schema:
            type: string
        - name: filters.totalDue
          in: query
          description: Exact filter for total due
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[totalDue].from
          in: query
          description: Filter total due from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[totalDue].to
          in: query
          description: Filter total due to value
          required: false
          schema:
            type: string
        - name: filters.isPaid
          in: query
          description: Exact filter for is paid
          required: false
          schema:
            type: boolean
        - name: filters.paidDate
          in: query
          description: Exact filter for paid date
          required: false
          schema:
            type: string
        - name: filters.paidAmount
          in: query
          description: Exact filter for paid amount
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[paidAmount].from
          in: query
          description: Filter paid amount from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[paidAmount].to
          in: query
          description: Filter paid amount to value
          required: false
          schema:
            type: string
        - name: filters.paymentMethod
          in: query
          description: Exact filter for payment method
          required: false
          schema:
            type: string
            enum:
              - INTERNAL
              - EXTERNAL
        - name: filters.paymentAccountId
          in: query
          description: Exact filter for payment account id
          required: false
          schema:
            type: string
        - name: filters.paymentProviderId
          in: query
          description: Exact filter for payment provider id
          required: false
          schema:
            type: string
        - name: filters.externalAccountReference
          in: query
          description: Exact filter for external account reference
          required: false
          schema:
            type: string
        - name: filters.isAutomaticPayment
          in: query
          description: Exact filter for is automatic payment
          required: false
          schema:
            type: boolean
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseLoanInstallmentPlanDTO'
    post:
      tags:
        - LoanInstallmentPlan
      summary: Create an installment plan entry
      operationId: createInstallmentPlan
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanInstallmentPlanDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanInstallmentPlanDTO'
  /api/v1/loan-servicing-cases/{caseId}/events:
    get:
      tags:
        - LoanServicingEvent
      summary: List/Search loan servicing events
      operationId: findAllServicingEvents
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.loanServicingCaseId
          in: query
          description: Exact filter for loan servicing case id
          required: false
          schema:
            type: string
        - name: filters.eventType
          in: query
          description: Exact filter for event type
          required: false
          schema:
            type: string
            enum:
              - RESTRUCTURE
              - EXTENSION
              - DEFERMENT
              - COLLECTION_CALL
              - NOTICE
        - name: filters.eventDate
          in: query
          description: Exact filter for event date
          required: false
          schema:
            type: string
        - name: filters.description
          in: query
          description: Exact filter for description
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseLoanServicingEventDTO'
    post:
      tags:
        - LoanServicingEvent
      summary: Create a new loan servicing event
      operationId: createServicingEvent
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanServicingEventDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanServicingEventDTO'
  /api/v1/loan-servicing-cases/{caseId}/disbursements:
    get:
      tags:
        - LoanDisbursement
      summary: List/Search disbursements for a specific servicing case
      operationId: findAllDisbursements
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.loanServicingCaseId
          in: query
          description: Exact filter for loan servicing case id
          required: false
          schema:
            type: string
        - name: filters.transactionId
          in: query
          description: Exact filter for transaction id
          required: false
          schema:
            type: string
        - name: filters.disbursementAmount
          in: query
          description: Exact filter for disbursement amount
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[disbursementAmount].from
          in: query
          description: Filter disbursement amount from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[disbursementAmount].to
          in: query
          description: Filter disbursement amount to value
          required: false
          schema:
            type: string
        - name: filters.disbursementDate
          in: query
          description: Exact filter for disbursement date
          required: false
          schema:
            type: string
        - name: filters.isFinalDisbursement
          in: query
          description: Exact filter for is final disbursement
          required: false
          schema:
            type: boolean
        - name: filters.disbursementMethod
          in: query
          description: Exact filter for disbursement method
          required: false
          schema:
            type: string
            enum:
              - INTERNAL
              - EXTERNAL
        - name: filters.disbursementStatus
          in: query
          description: Exact filter for disbursement status
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - PROCESSING
              - COMPLETED
              - FAILED
              - REVERSED
        - name: filters.paymentProviderId
          in: query
          description: Exact filter for payment provider id
          required: false
          schema:
            type: string
        - name: filters.externalTransactionReference
          in: query
          description: Exact filter for external transaction reference
          required: false
          schema:
            type: string
        - name: filters.note
          in: query
          description: Exact filter for note
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseLoanDisbursementDTO'
    post:
      tags:
        - LoanDisbursement
      summary: Create a new disbursement under a servicing case
      operationId: createDisbursement
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanDisbursementDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanDisbursementDTO'
  /api/v1/loan-servicing-cases/{caseId}/disbursements/{disbursementId}/internal-transactions:
    get:
      tags:
        - LoanDisbursementInternalTransaction
      summary: List/Search internal transactions for a disbursement
      operationId: findAllInternalTransactions
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: disbursementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.loanDisbursementId
          in: query
          description: Exact filter for loan disbursement id
          required: false
          schema:
            type: string
        - name: filters.transactionAmount
          in: query
          description: Exact filter for transaction amount
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[transactionAmount].from
          in: query
          description: Filter transaction amount from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[transactionAmount].to
          in: query
          description: Filter transaction amount to value
          required: false
          schema:
            type: string
        - name: filters.transactionReference
          in: query
          description: Exact filter for transaction reference
          required: false
          schema:
            type: string
        - name: filters.transactionDate
          in: query
          description: Exact filter for transaction date
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[transactionDate].from
          in: query
          description: Filter transaction date from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[transactionDate].to
          in: query
          description: Filter transaction date to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.note
          in: query
          description: Exact filter for note
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseLoanDisbursementInternalTransactionDTO'
    post:
      tags:
        - LoanDisbursementInternalTransaction
      summary: Create a new internal transaction for a disbursement
      operationId: createInternalTransaction
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: disbursementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanDisbursementInternalTransactionDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanDisbursementInternalTransactionDTO'
  /api/v1/loan-servicing-cases/{caseId}/disbursements/{disbursementId}/external-transactions:
    get:
      tags:
        - LoanDisbursementExternalTransaction
      summary: List/Search external transactions for a disbursement
      operationId: findAllExternalTransactions
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: disbursementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.loanDisbursementId
          in: query
          description: Exact filter for loan disbursement id
          required: false
          schema:
            type: string
        - name: filters.pspTransactionReference
          in: query
          description: Exact filter for psp transaction reference
          required: false
          schema:
            type: string
        - name: filters.transactionAmount
          in: query
          description: Exact filter for transaction amount
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[transactionAmount].from
          in: query
          description: Filter transaction amount from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[transactionAmount].to
          in: query
          description: Filter transaction amount to value
          required: false
          schema:
            type: string
        - name: filters.transactionCurrency
          in: query
          description: Exact filter for transaction currency
          required: false
          schema:
            type: string
        - name: filters.pspStatus
          in: query
          description: Exact filter for psp status
          required: false
          schema:
            type: string
        - name: filters.pspStatusMessage
          in: query
          description: Exact filter for psp status message
          required: false
          schema:
            type: string
        - name: filters.recipientAccountNumber
          in: query
          description: Exact filter for recipient account number
          required: false
          schema:
            type: string
        - name: filters.recipientName
          in: query
          description: Exact filter for recipient name
          required: false
          schema:
            type: string
        - name: filters.transactionDate
          in: query
          description: Exact filter for transaction date
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[transactionDate].from
          in: query
          description: Filter transaction date from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[transactionDate].to
          in: query
          description: Filter transaction date to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.pspResponsePayload
          in: query
          description: Exact filter for psp response payload
          required: false
          schema:
            type: string
        - name: filters.note
          in: query
          description: Exact filter for note
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseLoanDisbursementExternalTransactionDTO'
    post:
      tags:
        - LoanDisbursementExternalTransaction
      summary: Create a new external transaction for a disbursement
      operationId: createExternalTransaction
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: disbursementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanDisbursementExternalTransactionDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanDisbursementExternalTransactionDTO'
  /api/v1/loan-servicing-cases/{caseId}/accruals:
    get:
      tags:
        - LoanAccrual
      summary: List/Search accruals for a servicing case
      operationId: findAllAccruals
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.loanServicingCaseId
          in: query
          description: Exact filter for loan servicing case id
          required: false
          schema:
            type: string
        - name: filters.accrualAmount
          in: query
          description: Exact filter for accrual amount
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[accrualAmount].from
          in: query
          description: Filter accrual amount from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[accrualAmount].to
          in: query
          description: Filter accrual amount to value
          required: false
          schema:
            type: string
        - name: filters.accrualType
          in: query
          description: Exact filter for accrual type
          required: false
          schema:
            type: string
            enum:
              - INTEREST
              - PENALTY
              - LATE_FEE
[...]
