openapi: 3.0.1
info:
  title: core-lending-loan-servicing
  description: Loan Servicing Core Application
  contact:
    name: Firefly Software Solutions Inc
    email: dev@getfirefly.io
  version: 1.0.0
servers:
  - url: http://core.getfirefly.io/loan-servicing
    description: Development Environment
  - url: /
    description: Local Development Environment
tags:
  - name: Loan Escrow
    description: Manage loan escrow accounts for all lending products including insurance, taxes, maintenance reserves, freight/shipping, debt service reserves, and other escrow purposes
  - name: LoanRepaymentRecord
    description: Operations for Loan Repayment Records
  - name: LoanRepaymentSchedule
    description: Operations for Loan Repayment Schedules
  - name: Loan Notification
    description: Manage loan notifications sent to parties via email, SMS, push, in-app, mail, or phone
  - name: LoanServicingCase
    description: Operations for Loan Servicing Cases
  - name: LoanInstallmentPlan
    description: Operations for Loan Installment Plans
  - name: LoanAccrual
    description: Operations for Loan Accruals (interest, fees, etc.)
  - name: LoanServicingEvent
    description: Operations for Loan Servicing Events
  - name: LoanBalance
    description: Operations for Loan Balance tracking and history
  - name: LoanInstallmentRecord
    description: Operations for Loan Installment Records
  - name: LoanRateChange
    description: Operations for Loan Rate Changes
  - name: Loan Disbursement Plan
    description: Manage loan disbursement plans for construction loans, staged funding, and line of credit draws
  - name: LoanDisbursement
    description: Operations for Loan Disbursements
  - name: LoanRestructuring
    description: Operations for Loan Restructuring events
  - name: LoanDisbursementExternalTransaction
    description: Operations for external PSP disbursement transactions
  - name: Loan Rebate
    description: Manage loan rebates including borrower rebates, distributor commissions, and promotional incentives
  - name: LoanDisbursementInternalTransaction
    description: Operations for internal disbursement transactions
paths:
  /api/v1/loan-servicing-cases/{caseId}:
    get:
      tags:
        - LoanServicingCase
      summary: Get a loan servicing case by ID
      operationId: getServicingCaseById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanServicingCaseDTO'
    put:
      tags:
        - LoanServicingCase
      summary: Update a loan servicing case
      operationId: updateServicingCase
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanServicingCaseDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanServicingCaseDTO'
    delete:
      tags:
        - LoanServicingCase
      summary: Delete a loan servicing case
      operationId: deleteServicingCase
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases/{caseId}/restructurings/{restructuringId}:
    get:
      tags:
        - LoanRestructuring
      summary: Get a loan restructuring by ID
      operationId: getRestructuringById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: restructuringId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRestructuringDTO'
    put:
      tags:
        - LoanRestructuring
      summary: Update a loan restructuring record
      operationId: updateRestructuring
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: restructuringId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanRestructuringDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRestructuringDTO'
    delete:
      tags:
        - LoanRestructuring
      summary: Delete a loan restructuring record
      operationId: deleteRestructuring
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: restructuringId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases/{caseId}/repayment-schedules/{scheduleId}:
    get:
      tags:
        - LoanRepaymentSchedule
      summary: Get a repayment schedule entry by ID
      operationId: getRepaymentScheduleById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: scheduleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRepaymentScheduleDTO'
    put:
      tags:
        - LoanRepaymentSchedule
      summary: Update a repayment schedule entry
      operationId: updateRepaymentSchedule
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: scheduleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanRepaymentScheduleDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRepaymentScheduleDTO'
    delete:
      tags:
        - LoanRepaymentSchedule
      summary: Delete a repayment schedule entry
      operationId: deleteRepaymentSchedule
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: scheduleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases/{caseId}/repayment-records/{recordId}:
    get:
      tags:
        - LoanRepaymentRecord
      summary: Get a repayment record by ID
      operationId: getRepaymentRecordById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRepaymentRecordDTO'
    put:
      tags:
        - LoanRepaymentRecord
      summary: Update a repayment record
      operationId: updateRepaymentRecord
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanRepaymentRecordDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRepaymentRecordDTO'
    delete:
      tags:
        - LoanRepaymentRecord
      summary: Delete a repayment record
      operationId: deleteRepaymentRecord
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases/{caseId}/rebates/{rebateId}:
    get:
      tags:
        - Loan Rebate
      summary: Get rebate by ID
      description: Retrieve a specific rebate by its ID
      operationId: getRebateById
      parameters:
        - name: caseId
          in: path
          description: Loan servicing case ID
          required: true
          schema:
            type: string
            format: uuid
        - name: rebateId
          in: path
          description: Rebate ID
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Rebate found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRebateDTO'
        '404':
          description: Rebate not found
    put:
      tags:
        - Loan Rebate
      summary: Update rebate
      description: Update an existing rebate
      operationId: updateRebate
      parameters:
        - name: caseId
          in: path
          description: Loan servicing case ID
          required: true
          schema:
            type: string
            format: uuid
        - name: rebateId
          in: path
          description: Rebate ID
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanRebateDTO'
        required: true
      responses:
        '200':
          description: Rebate updated successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRebateDTO'
        '400':
          description: Invalid input data
        '404':
          description: Rebate not found
    delete:
      tags:
        - Loan Rebate
      summary: Delete rebate
      description: Delete a rebate
      operationId: deleteRebate
      parameters:
        - name: caseId
          in: path
          description: Loan servicing case ID
          required: true
          schema:
            type: string
            format: uuid
        - name: rebateId
          in: path
          description: Rebate ID
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Rebate deleted successfully
        '404':
          description: Rebate not found
  /api/v1/loan-servicing-cases/{caseId}/rate-changes/{rateChangeId}:
    get:
      tags:
        - LoanRateChange
      summary: Get a loan rate change by ID
      operationId: getRateChangeById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: rateChangeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRateChangeDTO'
    put:
      tags:
        - LoanRateChange
      summary: Update a loan rate change
      operationId: updateRateChange
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: rateChangeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanRateChangeDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRateChangeDTO'
    delete:
      tags:
        - LoanRateChange
      summary: Delete a loan rate change record
      operationId: deleteRateChange
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: rateChangeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases/{caseId}/notifications/{notificationId}:
    get:
      tags:
        - Loan Notification
      summary: Get notification by ID
      description: Retrieve a specific notification by its ID
      operationId: getNotificationById
      parameters:
        - name: caseId
          in: path
          description: Loan servicing case ID
          required: true
          schema:
            type: string
            format: uuid
        - name: notificationId
          in: path
          description: Notification ID
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Notification found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanNotificationDTO'
        '404':
          description: Notification not found
    put:
      tags:
        - Loan Notification
      summary: Update notification
      description: Update an existing notification (read-only timestamp fields cannot be updated)
      operationId: updateNotification
      parameters:
        - name: caseId
          in: path
          description: Loan servicing case ID
          required: true
          schema:
            type: string
            format: uuid
        - name: notificationId
          in: path
          description: Notification ID
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanNotificationDTO'
        required: true
      responses:
        '200':
          description: Notification updated successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanNotificationDTO'
        '400':
          description: Invalid input data
        '404':
          description: Notification not found
    delete:
      tags:
        - Loan Notification
      summary: Delete notification
      description: Delete a notification
      operationId: deleteNotification
      parameters:
        - name: caseId
          in: path
          description: Loan servicing case ID
          required: true
          schema:
            type: string
            format: uuid
        - name: notificationId
          in: path
          description: Notification ID
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Notification deleted successfully
        '404':
          description: Notification not found
  /api/v1/loan-servicing-cases/{caseId}/installment-records/{recordId}:
    get:
      tags:
        - LoanInstallmentRecord
      summary: Get an installment record by ID
      operationId: getInstallmentRecordById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanInstallmentRecordDTO'
    put:
      tags:
        - LoanInstallmentRecord
      summary: Update an installment record
      operationId: updateInstallmentRecord
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanInstallmentRecordDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanInstallmentRecordDTO'
    delete:
      tags:
        - LoanInstallmentRecord
      summary: Delete an installment record
      operationId: deleteInstallmentRecord
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: recordId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases/{caseId}/installment-plans/{planId}:
    get:
      tags:
        - LoanInstallmentPlan
      summary: Get an installment plan entry by ID
      operationId: getInstallmentPlanById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: planId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanInstallmentPlanDTO'
    put:
      tags:
        - LoanInstallmentPlan
      summary: Update an installment plan entry
      operationId: updateInstallmentPlan
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: planId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanInstallmentPlanDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanInstallmentPlanDTO'
    delete:
      tags:
        - LoanInstallmentPlan
      summary: Delete an installment plan entry
      operationId: deleteInstallmentPlan
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: planId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases/{caseId}/events/{eventId}:
    get:
      tags:
        - LoanServicingEvent
      summary: Get a loan servicing event by ID
      operationId: getServicingEventById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanServicingEventDTO'
    put:
      tags:
        - LoanServicingEvent
      summary: Update a loan servicing event
      operationId: updateServicingEvent
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanServicingEventDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanServicingEventDTO'
    delete:
      tags:
        - LoanServicingEvent
      summary: Delete a loan servicing event
      operationId: deleteServicingEvent
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases/{caseId}/escrows/{escrowId}:
    get:
      tags:
        - Loan Escrow
      summary: Get escrow account by ID
      description: Retrieve a specific escrow account by its ID
      operationId: getEscrowById
      parameters:
        - name: caseId
          in: path
          description: Loan servicing case ID
          required: true
          schema:
            type: string
            format: uuid
        - name: escrowId
          in: path
          description: Escrow account ID
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Escrow account found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanEscrowDTO'
        '404':
          description: Escrow account not found
    put:
      tags:
        - Loan Escrow
      summary: Update escrow account
      description: Update an existing escrow account
      operationId: updateEscrow
      parameters:
        - name: caseId
          in: path
          description: Loan servicing case ID
          required: true
          schema:
            type: string
            format: uuid
        - name: escrowId
          in: path
          description: Escrow account ID
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanEscrowDTO'
        required: true
      responses:
        '200':
          description: Escrow account updated successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanEscrowDTO'
        '400':
          description: Invalid input data
        '404':
          description: Escrow account not found
    delete:
      tags:
        - Loan Escrow
      summary: Delete escrow account
      description: Delete an escrow account
      operationId: deleteEscrow
      parameters:
        - name: caseId
          in: path
          description: Loan servicing case ID
          required: true
          schema:
            type: string
            format: uuid
        - name: escrowId
          in: path
          description: Escrow account ID
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Escrow account deleted successfully
        '404':
          description: Escrow account not found
  /api/v1/loan-servicing-cases/{caseId}/disbursements/{disbursementId}:
    get:
      tags:
        - LoanDisbursement
      summary: Get a disbursement by ID
      operationId: getDisbursementById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: disbursementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanDisbursementDTO'
    put:
      tags:
        - LoanDisbursement
      summary: Update a disbursement record
      operationId: updateDisbursement
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: disbursementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanDisbursementDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanDisbursementDTO'
    delete:
      tags:
        - LoanDisbursement
      summary: Delete a disbursement record
      operationId: deleteDisbursement
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: disbursementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases/{caseId}/disbursement-plans/{planId}:
    get:
      tags:
        - Loan Disbursement Plan
      summary: Get disbursement plan by ID
      description: Retrieve a specific disbursement plan by its ID
      operationId: getDisbursementPlanById
      parameters:
        - name: caseId
          in: path
          description: Loan servicing case ID
          required: true
          schema:
            type: string
            format: uuid
        - name: planId
          in: path
          description: Disbursement plan ID
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Disbursement plan found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanDisbursementPlanDTO'
        '404':
          description: Disbursement plan not found
    put:
      tags:
        - Loan Disbursement Plan
      summary: Update disbursement plan
      description: Update an existing disbursement plan
      operationId: updateDisbursementPlan
      parameters:
        - name: caseId
          in: path
          description: Loan servicing case ID
          required: true
          schema:
            type: string
            format: uuid
        - name: planId
          in: path
          description: Disbursement plan ID
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanDisbursementPlanDTO'
        required: true
      responses:
        '200':
          description: Disbursement plan updated successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanDisbursementPlanDTO'
        '400':
          description: Invalid input data
        '404':
          description: Disbursement plan not found
    delete:
      tags:
        - Loan Disbursement Plan
      summary: Delete disbursement plan
      description: Delete a disbursement plan
      operationId: deleteDisbursementPlan
      parameters:
        - name: caseId
          in: path
          description: Loan servicing case ID
          required: true
          schema:
            type: string
            format: uuid
        - name: planId
          in: path
          description: Disbursement plan ID
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Disbursement plan deleted successfully
        '404':
          description: Disbursement plan not found
  /api/v1/loan-servicing-cases/{caseId}/balances/{balanceId}:
    get:
      tags:
        - LoanBalance
      summary: Get a balance snapshot by ID
      operationId: getBalanceById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: balanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanBalanceDTO'
    put:
      tags:
        - LoanBalance
      summary: Update a balance snapshot
      operationId: updateBalance
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: balanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanBalanceDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanBalanceDTO'
    delete:
      tags:
        - LoanBalance
      summary: Delete a balance snapshot
      operationId: deleteBalance
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: balanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases/{caseId}/accruals/{accrualId}:
    get:
      tags:
        - LoanAccrual
      summary: Get a loan accrual by ID
      operationId: getAccrualById
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: accrualId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanAccrualDTO'
    put:
      tags:
        - LoanAccrual
      summary: Update a loan accrual record
      operationId: updateAccrual
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: accrualId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanAccrualDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanAccrualDTO'
    delete:
      tags:
        - LoanAccrual
      summary: Delete a loan accrual record
      operationId: deleteAccrual
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: accrualId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-servicing-cases:
    get:
      tags:
        - LoanServicingCase
      summary: List/Search loan servicing cases
      operationId: findAllServicingCases
      parameters:
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.contractId
          in: query
          description: Exact filter for contract id
          required: false
          schema:
            type: string
        - name: filters.productId
          in: query
          description: Exact filter for product id
          required: false
          schema:
            type: string
        - name: filters.applicationId
          in: query
          description: Exact filter for application id
          required: false
          schema:
            type: string
        - name: filters.proposedOfferId
          in: query
          description: Exact filter for proposed offer id
          required: false
          schema:
            type: string
        - name: filters.productCatalogId
          in: query
          description: Exact filter for product catalog id
          required: false
          schema:
            type: string
        - name: filters.servicingStatus
          in: query
          description: Exact filter for servicing status
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - ACTIVE
              - GRACE_PERIOD
              - DELINQUENT
              - DEFAULT
              - FORBEARANCE
              - RESTRUCTURED
              - BANKRUPTCY
              - FORECLOSURE
              - CHARGED_OFF
              - PAID_OFF
              - CLOSED
              - TRANSFERRED
              - CANCELLED
        - name: filters.principalAmount
          in: query
          description: Exact filter for principal amount
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[principalAmount].from
          in: query
          description: Filter principal amount from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[principalAmount].to
          in: query
          description: Filter principal amount to value
          required: false
          schema:
            type: string
        - name: filters.interestRate
          in: query
          description: Exact filter for interest rate
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[interestRate].from
          in: query
          description: Filter interest rate from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[interestRate].to
          in: query
          description: Filter interest rate to value
          required: false
          schema:
            type: string
        - name: filters.loanTerm
          in: query
          description: Exact filter for loan term
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[loanTerm].from
          in: query
          description: Filter loan term from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[loanTerm].to
          in: query
          description: Filter loan term to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.interestCalculationMethod
          in: query
          description: Exact filter for interest calculation method
          required: false
          schema:
            type: string
            enum:
              - SIMPLE
              - COMPOUND
              - ACTUARIAL
              - REDUCING_BALANCE
              - FLAT_RATE
        - name: filters.amortizationMethod
          in: query
          description: Exact filter for amortization method
          required: false
          schema:
            type: string
            enum:
              - EQUAL_INSTALLMENT
              - EQUAL_PRINCIPAL
              - BALLOON_PAYMENT
              - INTEREST_ONLY
              - BULLET
        - name: filters.paymentFrequency
          in: query
          description: Exact filter for payment frequency
          required: false
          schema:
            type: string
            enum:
              - DAILY
              - WEEKLY
              - BIWEEKLY
              - SEMIMONTHLY
              - MONTHLY
              - BIMONTHLY
              - QUARTERLY
              - SEMIANNUALLY
              - ANNUALLY
        - name: filters.compoundingFrequency
          in: query
          description: Exact filter for compounding frequency
          required: false
          schema:
            type: string
            enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - SEMIANNUALLY
              - ANNUALLY
              - CONTINUOUS
        - name: filters.dayCountConvention
          in: query
          description: Exact filter for day count convention
          required: false
          schema:
            type: string
            enum:
              - ACTUAL_360
              - ACTUAL_365
              - ACTUAL_ACTUAL
              - THIRTY_360
        - name: filters.originationDate
          in: query
          description: Exact filter for origination date
          required: false
          schema:
            type: string
        - name: filters.maturityDate
          in: query
          description: Exact filter for maturity date
          required: false
          schema:
            type: string
        - name: filters.remarks
          in: query
          description: Exact filter for remarks
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseLoanServicingCaseDTO'
    post:
      tags:
        - LoanServicingCase
      summary: Create a loan servicing case
      operationId: createServicingCase
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanServicingCaseDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanServicingCaseDTO'
  /api/v1/loan-servicing-cases/{caseId}/restructurings:
    get:
      tags:
        - LoanRestructuring
      summary: List/Search restructuring events for a servicing case
      operationId: findAllRestructurings
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.loanServicingCaseId
          in: query
          description: Exact filter for loan servicing case id
          required: false
          schema:
            type: string
        - name: filters.restructuringDate
          in: query
          description: Exact filter for restructuring date
          required: false
          schema:
            type: string
        - name: filters.reason
          in: query
          description: Exact filter for reason
          required: false
          schema:
            type: string
        - name: filters.oldPrincipalAmount
          in: query
          description: Exact filter for old principal amount
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[oldPrincipalAmount].from
          in: query
          description: Filter old principal amount from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[oldPrincipalAmount].to
          in: query
          description: Filter old principal amount to value
          required: false
          schema:
            type: string
        - name: filters.oldInterestRate
          in: query
          description: Exact filter for old interest rate
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[oldInterestRate].from
          in: query
          description: Filter old interest rate from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[oldInterestRate].to
          in: query
          description: Filter old interest rate to value
          required: false
          schema:
            type: string
        - name: filters.oldLoanTerm
          in: query
          description: Exact filter for old loan term
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[oldLoanTerm].from
          in: query
          description: Filter old loan term from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[oldLoanTerm].to
          in: query
          description: Filter old loan term to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.oldInterestCalculationMethod
          in: query
          description: Exact filter for old interest calculation method
          required: false
          schema:
            type: string
            enum:
              - SIMPLE
              - COMPOUND
              - ACTUARIAL
              - REDUCING_BALANCE
              - FLAT_RATE
        - name: filters.oldAmortizationMethod
          in: query
          description: Exact filter for old amortization method
          required: false
          schema:
            type: string
            enum:
              - EQUAL_INSTALLMENT
              - EQUAL_PRINCIPAL
              - BALLOON_PAYMENT
              - INTEREST_ONLY
              - BULLET
        - name: filters.oldPaymentFrequency
          in: query
          description: Exact filter for old payment frequency
          required: false
          schema:
            type: string
            enum:
              - DAILY
              - WEEKLY
              - BIWEEKLY
              - SEMIMONTHLY
              - MONTHLY
              - BIMONTHLY
              - QUARTERLY
              - SEMIANNUALLY
              - ANNUALLY
        - name: filters.oldCompoundingFrequency
          in: query
          description: Exact filter for old compounding frequency
          required: false
          schema:
            type: string
            enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - SEMIANNUALLY
              - ANNUALLY
              - CONTINUOUS
        - name: filters.oldDayCountConvention
          in: query
          description: Exact filter for old day count convention
          required: false
          schema:
            type: string
            enum:
              - ACTUAL_360
              - ACTUAL_365
              - ACTUAL_ACTUAL
              - THIRTY_360
        - name: filters.oldMaturityDate
          in: query
          description: Exact filter for old maturity date
          required: false
          schema:
            type: string
        - name: filters.newPrincipalAmount
          in: query
          description: Exact filter for new principal amount
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[newPrincipalAmount].from
          in: query
          description: Filter new principal amount from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[newPrincipalAmount].to
          in: query
          description: Filter new principal amount to value
          required: false
          schema:
            type: string
        - name: filters.newInterestRate
          in: query
          description: Exact filter for new interest rate
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[newInterestRate].from
          in: query
          description: Filter new interest rate from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[newInterestRate].to
          in: query
          description: Filter new interest rate to value
          required: false
          schema:
            type: string
        - name: filters.newLoanTerm
          in: query
          description: Exact filter for new loan term
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[newLoanTerm].from
          in: query
          description: Filter new loan term from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[newLoanTerm].to
          in: query
          description: Filter new loan term to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.newInterestCalculationMethod
          in: query
          description: Exact filter for new interest calculation method
          required: false
          schema:
            type: string
            enum:
              - SIMPLE
              - COMPOUND
              - ACTUARIAL
              - REDUCING_BALANCE
              - FLAT_RATE
        - name: filters.newAmortizationMethod
          in: query
          description: Exact filter for new amortization method
          required: false
          schema:
            type: string
            enum:
              - EQUAL_INSTALLMENT
              - EQUAL_PRINCIPAL
              - BALLOON_PAYMENT
              - INTEREST_ONLY
              - BULLET
        - name: filters.newPaymentFrequency
          in: query
          description: Exact filter for new payment frequency
          required: false
          schema:
            type: string
            enum:
              - DAILY
              - WEEKLY
              - BIWEEKLY
              - SEMIMONTHLY
              - MONTHLY
              - BIMONTHLY
              - QUARTERLY
              - SEMIANNUALLY
              - ANNUALLY
        - name: filters.newCompoundingFrequency
          in: query
          description: Exact filter for new compounding frequency
          required: false
          schema:
            type: string
            enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - SEMIANNUALLY
              - ANNUALLY
              - CONTINUOUS
        - name: filters.newDayCountConvention
          in: query
          description: Exact filter for new day count convention
          required: false
          schema:
            type: string
            enum:
              - ACTUAL_360
              - ACTUAL_365
              - ACTUAL_ACTUAL
              - THIRTY_360
        - name: filters.newMaturityDate
          in: query
          description: Exact filter for new maturity date
          required: false
          schema:
            type: string
        - name: filters.approvedBy
          in: query
          description: Exact filter for approved by
          required: false
          schema:
            type: string
        - name: filters.remarks
          in: query
          description: Exact filter for remarks
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseLoanRestructuringDTO'
    post:
      tags:
        - LoanRestructuring
      summary: Create a loan restructuring record
      operationId: createRestructuring
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanRestructuringDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRestructuringDTO'
  /api/v1/loan-servicing-cases/{caseId}/repayment-schedules:
    get:
      tags:
        - LoanRepaymentSchedule
      summary: List/Search repayment schedules for a servicing case
      operationId: findAllRepaymentSchedules
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.loanServicingCaseId
          in: query
          description: Exact filter for loan servicing case id
          required: false
          schema:
            type: string
        - name: filters.installmentNumber
          in: query
          description: Exact filter for installment number
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[installmentNumber].from
          in: query
          description: Filter installment number from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[installmentNumber].to
          in: query
          description: Filter installment number to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.dueDate
          in: query
          description: Exact filter for due date
          required: false
          schema:
            type: string
        - name: filters.principalDue
          in: query
          description: Exact filter for principal due
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[principalDue].from
          in: query
          description: Filter principal due from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[principalDue].to
          in: query
          description: Filter principal due to value
          required: false
          schema:
            type: string
        - name: filters.interestDue
          in: query
          description: Exact filter for interest due
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[interestDue].from
          in: query
          description: Filter interest due from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[interestDue].to
          in: query
          description: Filter interest due to value
          required: false
          schema:
            type: string
        - name: filters.feeDue
          in: query
          description: Exact filter for fee due
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[feeDue].from
          in: query
          description: Filter fee due from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[feeDue].to
          in: query
          description: Filter fee due to value
          required: false
          schema:
            type: string
        - name: filters.totalDue
          in: query
          description: Exact filter for total due
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[totalDue].from
          in: query
          description: Filter total due from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[totalDue].to
          in: query
          description: Filter total due to value
          required: false
          schema:
            type: string
        - name: filters.isPaid
          in: query
          description: Exact filter for is paid
          required: false
          schema:
            type: boolean
        - name: filters.paidDate
          in: query
          description: Exact filter for paid date
          required: false
          schema:
            type: string
        - name: filters.paidAmount
          in: query
          description: Exact filter for paid amount
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[paidAmount].from
          in: query
          description: Filter paid amount from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[paidAmount].to
          in: query
          description: Filter paid amount to value
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseLoanRepaymentScheduleDTO'
    post:
      tags:
        - LoanRepaymentSchedule
      summary: Create a repayment schedule entry
      operationId: createRepaymentSchedule
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanRepaymentScheduleDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRepaymentScheduleDTO'
  /api/v1/loan-servicing-cases/{caseId}/repayment-records:
    get:
      tags:
        - LoanRepaymentRecord
      summary: List/Search repayment records for a servicing case
      operationId: findAllRepaymentRecords
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.loanServicingCaseId
          in: query
          description: Exact filter for loan servicing case id
          required: false
          schema:
            type: string
        - name: filters.loanRepaymentScheduleId
          in: query
          description: Exact filter for loan repayment schedule id
          required: false
          schema:
            type: string
        - name: filters.transactionId
          in: query
          description: Exact filter for transaction id
          required: false
          schema:
            type: string
        - name: filters.paymentAmount
          in: query
          description: Exact filter for payment amount
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[paymentAmount].from
          in: query
          description: Filter payment amount from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[paymentAmount].to
          in: query
          description: Filter payment amount to value
          required: false
          schema:
            type: string
        - name: filters.paymentDate
          in: query
          description: Exact filter for payment date
          required: false
          schema:
            type: string
        - name: filters.isPartialPayment
          in: query
          description: Exact filter for is partial payment
          required: false
          schema:
            type: boolean
        - name: filters.note
          in: query
          description: Exact filter for note
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseLoanRepaymentRecordDTO'
    post:
      tags:
        - LoanRepaymentRecord
      summary: Create a repayment record
      operationId: createRepaymentRecord
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanRepaymentRecordDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRepaymentRecordDTO'
  /api/v1/loan-servicing-cases/{caseId}/rebates:
    get:
      tags:
        - Loan Rebate
      summary: List rebates
      description: Retrieve all rebates for a specific loan servicing case with pagination and filtering support
      operationId: findAllRebates
      parameters:
        - name: caseId
          in: path
          description: Loan servicing case ID
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.loanServicingCaseId
          in: query
          description: Exact filter for loan servicing case id
          required: false
          schema:
            type: string
        - name: filters.rebateType
          in: query
          description: Exact filter for rebate type
          required: false
          schema:
            type: string
            enum:
              - BORROWER_REBATE
              - DISTRIBUTOR_REBATE
              - PROMOTIONAL_REBATE
              - EARLY_PAYMENT_REBATE
              - LOYALTY_REBATE
              - REFERRAL_REBATE
              - GOVERNMENT_SUBSIDY
              - RATE_BUYDOWN
              - CLOSING_COST_REBATE
              - REFINANCE_REBATE
              - VOLUME_REBATE
              - OTHER
        - name: filters.rebateAmount
          in: query
          description: Exact filter for rebate amount
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[rebateAmount].from
          in: query
          description: Filter rebate amount from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[rebateAmount].to
          in: query
          description: Filter rebate amount to value
          required: false
          schema:
            type: string
        - name: filters.rebateDate
          in: query
          description: Exact filter for rebate date
          required: false
          schema:
            type: string
        - name: filters.distributorId
          in: query
          description: Exact filter for distributor id
          required: false
          schema:
            type: string
        - name: filters.distributorName
          in: query
          description: Exact filter for distributor name
          required: false
          schema:
            type: string
        - name: filters.distributorCommission
          in: query
          description: Exact filter for distributor commission
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[distributorCommission].from
          in: query
          description: Filter distributor commission from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[distributorCommission].to
          in: query
          description: Filter distributor commission to value
          required: false
          schema:
            type: string
        - name: filters.isProcessed
          in: query
          description: Exact filter for is processed
          required: false
          schema:
            type: boolean
        - name: filters.processedDate
          in: query
          description: Exact filter for processed date
          required: false
          schema:
            type: string
        - name: filters.description
          in: query
          description: Exact filter for description
          required: false
          schema:
            type: string
        - name: filters.remarks
          in: query
          description: Exact filter for remarks
          required: false
          schema:
            type: string
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved rebates
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Invalid request parameters
        '404':
          description: Loan servicing case not found
    post:
      tags:
        - Loan Rebate
      summary: Create rebate
      description: Create a new rebate for a loan servicing case
      operationId: createRebate
      parameters:
        - name: caseId
          in: path
          description: Loan servicing case ID
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanRebateDTO'
        required: true
      responses:
        '200':
          description: Rebate created successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRebateDTO'
        '400':
          description: Invalid input data
        '404':
          description: Loan servicing case not found
  /api/v1/loan-servicing-cases/{caseId}/rate-changes:
    get:
      tags:
        - LoanRateChange
      summary: List/Search rate changes for a servicing case
      operationId: findAllRateChanges
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.loanServicingCaseId
          in: query
          description: Exact filter for loan servicing case id
          required: false
          schema:
            type: string
        - name: filters.oldInterestRate
          in: query
          description: Exact filter for old interest rate
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[oldInterestRate].from
          in: query
          description: Filter old interest rate from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[oldInterestRate].to
          in: query
          description: Filter old interest rate to value
          required: false
          schema:
            type: string
        - name: filters.newInterestRate
          in: query
          description: Exact filter for new interest rate
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[newInterestRate].from
          in: query
          description: Filter new interest rate from value
          required: false
          schema:
            type: string
        - name: rangeFilters.ranges[newInterestRate].to
          in: query
          description: Filter new interest rate to value
          required: false
          schema:
            type: string
        - name: filters.effectiveDate
          in: query
          description: Exact filter for effective date
          required: false
          schema:
            type: string
        - name: filters.reasonCode
          in: query
          description: Exact filter for reason code
          required: false
          schema:
            type: string
            enum:
              - INDEX_ADJUSTMENT
              - RENEGOTIATION
              - PENALTY
              - PROMOTION
        - name: filters.note
          in: query
          description: Exact filter for note
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseLoanRateChangeDTO'
    post:
      tags:
        - LoanRateChange
      summary: Create a new loan rate change
      operationId: createRateChange
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanRateChangeDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanRateChangeDTO'
  /api/v1/loan-servicing-cases/{caseId}/notifications:
    get:
      tags:
        - Loan Notification
      summary: List notifications
      description: Retrieve all notifications for a specific loan servicing case with pagination and filtering support
      operationId: findAllNotifications
      parameters:
        - name: caseId
          in: path
          description: Loan servicing case ID
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.loanServicingCaseId
          in: query
          description: Exact filter for loan servicing case id
          required: false
          schema:
            type: string
        - name: filters.notificationType
          in: query
          description: Exact filter for notification type
          required: false
          schema:
            type: string
            enum:
              - PAYMENT_DUE_REMINDER
              - PAYMENT_RECEIVED
              - PAYMENT_OVERDUE
              - PAYMENT_FAILED
              - PAYMENT_REVERSED
              - PARTIAL_PAYMENT_RECEIVED
              - DISBURSEMENT_COMPLETED
              - DISBURSEMENT_SCHEDULED
              - DISBURSEMENT_FAILED
              - RATE_CHANGE
              - LOAN_RESTRUCTURED
              - TERMS_MODIFIED
              - MATURITY_APPROACHING
              - LOAN_PAID_OFF
              - PAYOFF_QUOTE_GENERATED
              - GRACE_PERIOD_NOTICE
              - DELINQUENCY_NOTICE
              - DEFAULT_NOTICE
              - COLLECTION_NOTICE
              - CHARGE_OFF_NOTICE
              - FORECLOSURE_NOTICE
              - BANKRUPTCY_NOTICE
              - STATEMENT_GENERATED
              - ANNUAL_STATEMENT
              - TAX_STATEMENT
              - ESCROW_PAYMENT
              - ESCROW_ANALYSIS
              - ESCROW_SHORTAGE
              - ESCROW_SURPLUS
              - REBATE_PROCESSED
              - REBATE_APPROVED
              - INCENTIVE_EARNED
              - ACCOUNT_ACTIVATED
              - ACCOUNT_SUSPENDED
              - ACCOUNT_CLOSED
              - SERVICING_TRANSFER
              - DOCUMENT_REQUIRED
              - DOCUMENT_RECEIVED
              - FORBEARANCE_APPROVED
              - FORBEARANCE_ENDED
              - GENERAL_INFORMATION
              - WELCOME
              - SECURITY_ALERT
        - name: filters.notificationChannel
          in: query
[...]
